.todo-item{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 91%; /*mobile first*/
    padding:5px 10px;
    background-color: #ffcf4035;
    border: 1px solid #e1e5e9;
    border-radius: 5px;
    font-size: 14px;
    margin: 5px 0;
    word-break: break-word; /* ← Evita que el texto se salga */
    overflow-wrap: break-word; /* ← Asegura que las palabras largas se rompan */
}

.todo-item .delete-but{
    position: absolute;
    right: 5px;
    top:50%;
    transform: translateY(-50%);
    background-color: #ffcf4000;
    color:rgb(255, 165, 165);
    border: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.5s;
}
.todo-item .delete-but:hover {
    color:red;
    font-size: 20px;
    transform: translateY(-60%) scale(1.2); 
}

.todo-item .delete-but:active {
    color:red;
    font-size: 30px;
    transform: translateY(-70%) scale(1.2);
    transition: all 0,2 ease;
}
.todo-item .completed{
    text-decoration: line-through;
    color: gray;
}

.todo-item .completed, .incompleted{
   margin:10px 45px 10px 35px;
   word-break: break-word;
}


.todo-item .checkbox {
  appearance: none;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  opacity: 0; /* ← Hacelo invisible pero CLICKEABLE */
  z-index: 2; /* ← POR ENCIMA de todo */
  cursor: pointer;
}

.todo-item p::before {
  content: ' '; 
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  border: solid 1px #007bff;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1; /* ← DEBAJO del checkbox real */
  background: white;
}


.todo-item .checkbox:checked ~ p::before{
  content: '✓'; 
  background: #007bff;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 23px;
  font-size: 14px;
}
 .todo-item .checkbox:hover ~ p::before{
  content: '✓'; 
  font-weight: bold;
  color: black;
  text-align: center;
  line-height: 23px;
  font-size: 21px;
  transition: all 0.5s;
}

.todo-item .date {
  margin:auto 45px 0 auto;
  font-size: 14px;
  color: #666;
  opacity: 0.8;
  font-style: italic;
  order: 2; /* ← Asegura que esté antes del botón */
  
  
}

@media screen and (min-width:768px){
  .todo-item{
    width: 68%;
    font-size: 18px;
  }
}

