body{
  background-color: #ffffffe3;
}
.icon{
  width: 45px;
  transform: translateY(10%);
}

h1 {
  background: linear-gradient(135deg, #667eea 0%, #007bff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 3rem;
  font-weight: 800;
  margin: 20px 0;
}
.completedAccordion{
  display: flex;
  width: 96%;
  border: 1px solid;
  border-radius: 5px;
  margin: 10px auto 0 auto;
  cursor: pointer;
}

.completedAccordion h3{
  margin: 10px 0 10px 15px;
 
}
.completedAccordion span{
  font-weight: bold;
  font-size: 25px;
  margin: auto 17px auto auto;
  color: #007bff;
  transition: all 2s;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh; /* Para que ocupe toda la pantalla */
}
.container .titleIncomplete{
     margin: 10px auto 10px 24px;
}
.title-form-container {
  text-align: center;
  width: 100%;
  padding: 20px 0; 
}

.title-form-container form {
  position: relative;
  display: inline-block;
  width: 95%; /*mobile first*/
  margin: 0 auto;
}

.title-form-container form button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}


.title-form-container form input {
  background: rgba(236, 235, 235, 0.571);
  width: 100%;
  padding:15px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 18px;
  box-sizing: border-box;
}

.title-form-container form button:hover {
  background: #0056b3;
  font-size: 30px;
  transition: all 0.5s;
}

.completed-taks{
    width: 100vh;
    background: #10b981;
}


@media screen and (min-width:768px){
  .title-form-container form {
    width: 70%;
  }
}

